<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Windows.Controls.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.for.Wpf.Trial" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Trial" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Crystal.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Expression_Dark.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Fluent.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Green.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Material.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office_Black.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office_Blue.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office_Silver.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office2013.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office2016.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office2016Touch.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Office2019.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Summer.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Transparent.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Transparent.for.Wpf.Trial" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Vista.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.VisualStudio2013.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.VisualStudio2019.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Windows11.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Windows7.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Windows8.for.Wpf" version="2023.2.718" targetFramework="net472" />
  <package id="Telerik.Windows.Themes.Windows8Touch.for.Wpf" version="2023.2.718" targetFramework="net472" />
</packages>